:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

body {
  margin: 0;
  color: #121417;
  background-color: #FFFFFF;
line-height: 1.5;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  color: currentColor;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}
